/* calendar-section */
.calendar-section {
  background-color: #84123F;
}

/* calendar container */
.react-calendar {
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

/* calendar header */
.react-calendar__navigation {
  background-color: #ffffff;
  color: #fff;
}

/* Style adjustments for the calendar days */
.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

/* Style adjustments for the calendar day */
.react-calendar__month-view__days__day {
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* selected calendar day */
.react-calendar__tile--active {
  background-color: #84123F;
  color: #fff;
}

/* today's date */
.react-calendar__tile--now {
  background-color: #f0f0f0;
  color: #84123F;
}

/* calendar footer */
.react-calendar__navigation__label,
.react-calendar__tile--now {
  font-size: 16px;
}

/* calendar navigation buttons */
.react-calendar__navigation__arrow {
  background-color: #ffffff;
  color: #84123F;
}

/* Hover effect for the navigation buttons */
.react-calendar__navigation__arrow:hover {
  background-color: #84123F;
  color: white;
}

/* Remove background from January 2024 */
.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__days__day--neighboringMonth {
  background: none;
}

.calendar-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80%;
  margin: 0 auto;
}

.calendar-container {
  max-width: 100%;
  border-radius: 8px;
  margin-right: 20px;
  padding: 10px;
}

.details-container {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .calendar-page {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 0px;
        height: 95vh
    }

    .calendar-container{
        margin: 0 auto;
        margin-top: 40px;
    }

}