.contact-section{
    background-color: #ffffff;
}

.email-grid{
    display: grid;
    grid-template-columns: 0.1fr 4fr;
    align-items: center
}

.email-text1{
    color: #84123F;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px
}

.email-text2{
    color: #84123F;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 11px;
}

.contact-header{
    color: #84123F;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px
}