@font-face {
    font-family: 'hypatia-sans-pro';
    src: url('https://use.typekit.net/af/f8d87f/00000000000000003b9adaa2/27/l?subset_id=2&fvd=n4&v=3') format("woff2"),
         url('https://use.typekit.net/af/f8d87f/00000000000000003b9adaa2/27/d?subset_id=2&fvd=n4&v=3') format("woff"),
         url('https://use.typekit.net/af/f8d87f/00000000000000003b9adaa2/27/a?subset_id=2&fvd=n4&v=3') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

body {
    font-family: 'hypatia-sans-pro', sans-serif;
}

.main-image{
    width: 90%;
    position: fixed;
    top: 0
}

.main-header{
    height: 200px
}

.main-image-subtitle{
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin-top: -60px;
    margin-bottom: 30px;
    text-shadow: -0.5px -0.5px 0.5px #000, 0.5px -0.5px 0.5px #000, -0.5px 0.5px 0.5px #000, 0.5px 0.5px 0.5px #000;
    width: 90%
}

.main-image-cal-button{
    background-color: white;
    padding: 10px 30px;
    font-size: 20px;
    border: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.main-image-cal-button:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 768px) {

    .main-header{
        height: 110px;
    }
    .main-image-subtitle{
        margin-top: 0px;
    }
    
}

@media only screen and (max-width: 550px) {
    .main-image-title{
        font-size: 55px
    }

    .main-image-subtitle{
        font-size: 20px
    }
}