.nav-logo{
    height: 35px;
    padding-left: 150px
  }
  
  .insta-icon{
    padding-right: 150px;
    color: #84123F
  }

  .insta-icon:hover{
    background-color: white;
  }
  
  nav {
    background-color: white;
    border-bottom: 0px solid black;
    display: grid;
    grid-template-columns: 1.5fr 0.4fr 0.4fr 0.4fr 1fr 0.1fr 0.2fr;
    padding: 10px; 
    list-style: none; 
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
  }
  
  nav li {
    color: #84123F;
    cursor: pointer;
    font-weight:100;
    font-size: 16px
  }
  
  nav li:hover {
    color: rgb(255, 209, 209);
  }
  
  nav a:hover{
    color: rgb(255, 209, 209);
    background-color: white;
  }
  
  .menu-icon1{
    display: none;
  }

  .parallax-container {
    display: flex;
    height: 85vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-attachment: fixed;
  
    background-image: url(https://i.ibb.co/kh09sg9/IMG-3704-1.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 0.5rem;
    text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-title {
      display: none
    }
  
    .insta-icon {
      display: none
    }
  
    .menu-icon1{
      display: block;
      z-index: 1004;
      position: fixed;
      top: 15px;
      right: 25px;
      height: 20px;
      color: #84123F;
      font-size: 24px;
    }
  
    nav {
      display: flex;
      justify-content: flex-start;
    }
  
    .nav-logo{
      height: 35px;
      padding-left: 20px
    }

    .parallax-container {
      height: 65vh;
      margin-top: 30px;
      background-size: 768px
    }
  }

  @media only screen and (max-width: 550px) {
    .parallax-container {
      background-size: 550px 
    }
  }

  @media only screen and (max-width: 500px) {
    .parallax-container {
      background-size: 500px 
    }
  }

  @media only screen and (max-width: 450px) {
    .parallax-container {
      background-size: 500px 
    }
  }