.nav2 {
  background-color: rgb(255, 255, 255);
}

.nav2 li {
  color: #84123F;
}

.nav2 li:hover {
  color: rgb(255, 209, 209);
}

.nav2 a:hover {
  color: rgb(255, 209, 209);
  background-color: rgb(255, 255, 255);
}

.menu-icon2 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-title {
    display: none;
  }

  .git-icon {
    display: none;
  }

  .linked-icon {
    display: none;
  }

  .menu-icon2 {
    display: block;
    position: fixed;
    top: 13px;
    right: 22px;
    height: 20px;
    color: #84123F;
    z-index: 1002;
  }

  .popup-menu {
    position: fixed;
    top: 55px;
    right: 0;
    width: 100%;
    height: 92%;
    background-color: white;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .menu-item {
    color: #84123F;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 55px;
  }

  .menu-item:hover {
    background-color: white;
    color: rgb(186, 214, 241);
  }

  .nav-logo {
    display: inline-block; 
    height: 35px;
    padding-left: 20px;
    margin-right: 10px; 
  }

  .insta-icon {
    display: inline-block; 
    padding-left: 160px; 
    color: #84123F;
  }
}
