.projects-page {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .back-button {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .header-container {
    position: relative;
    width: 100%;
    height: 350px;
  }

  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: sepia(20%);
    filter: brightness(120%) saturate(80%)
}

.header-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 245, 220, 0.8);
  color: #454444; 
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 30vw
}

.header-title {
  margin: 0px 20px; 
}

.sub-title{
  font-style: italic;
}

  
  .carousel-container {
    margin-bottom: 50px;
    width: 80%;
    margin: 0 auto
  }
  
  .slick-slide img {
    width: 100%;
    height: 60vh;
    margin-bottom: 20px
  }

  .slick-dots {
    bottom: 0px; 
  }

  .slick-prev,
.slick-next {
    font-size: 0; 
    color: transparent; 
    background-color: transparent; 
    border: none; 
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    color: #fff; 
    background-color: rgba(103, 99, 99, 0.5); 
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.slick-prev {
    left: -60px;
    bottom: 10px
}

.slick-next {
    right: -40px; 
}
  
  .text-section {
    background-color: #ffffff;
    border: 2px solid #fbb7b3; 
    padding: 0 20px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .opening-text{
    font-style: italic;
  }
  
  .price-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .price-section h2 {
    color: #333;
  }
  
  .price-section p {
    color: #666;
  }
  
  .included-section {
    margin-top: 30px;
    border: 2px solid #4a90e2; 
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  .included-section h2 {
    color: #4a90e2; 
  }
  
  .included-section ul {
    list-style-type: none; 
    padding-left: 0; 
  }
  
  .included-section li {
    margin-bottom: 10px; 
  }

@media only screen and (max-width: 852px) {
  .slick-slide img {
    width: 100%;
    height: 33vh;
    margin-bottom: 20px
  }

  .header-image{
    width: 100%;
    height: auto
  }

  .carousel-container {
    width: 100%;
  }

  .slick-prev {
    left: 10px;
    bottom: 10px
}

.slick-next {
    right: 30px; 
}
.slick-dots {
  bottom: 0px; 
}

.text-section {
  padding: 0px 15px
}
.header-title {
  margin: 0px 20px; 
  font-size: 18px
}

.sub-title{
  font-style: italic;
  font-size: 15px
}
.header-div {
  top: 45%;
  width: 50vw;
  padding: 10px
}

.header-container {
  position: relative;
  width: 100%;
  height: 250px;
}
}